/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 oct. 2015, 11:57:33
    Author     : Florian
*/
#logo{
    width:150px;
    height: 100px;
}
