/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 oct. 2015, 11:57:33
    Author     : Florian
*/
#logo{
    width:100px;
    height: 100px;
    margin-left: 22px;
}
h3{
    text-align: center;
    color: #black;
    font-size: 90%;
}

form{
    text-align: center;
}
input[type="submit"], button{
    background: #1b9b5b !important;
    text-shadow: none !important;
    color:white !important;
    border:0 !important;
    padding: 10px !important;
    font-size: 70% !important;
    opacity: 1 !important;
    padding: 10px !important;
    margin-left: 10px !important;
    height:35px;
}
input[type="submit"]:hover{
    color : rgb(200,200,200);
}

label{

    margin-right: 100px;

}
td{
    color:#0D492B;
}
a{
    color: #1b9b5b !important;
    font-weight: normal !important;
}

